<div id="con1" class="modal-content">
	<div class="fix">
	<p><a class="modal-close"><i class="far fa-times-circle"></i></i></a></p>
		<div class="text-align">
	    <h2>新規登録</h2>
			<form class="new_user" id="new_user" action="/users" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="kRpkuW+dMezn9eSZAwRZ4VaEd+v5DFgr8lIRUgPMtPcXSBFLHsuS0qgemLmNMuf8aSS1SOJqdNzIdvCWtwxTdw==">

			      <div class="field">
			        <p>ニックネーム</p>
			        <input autofocus="autofocus" autocomplete="name" placeholder="ヤマダタロウ" type="text" name="user[name]" id="user_name">
			      </div>

			      <div class="field">
			        <p>メールアドレス</p>
			        <input autofocus="autofocus" autocomplete="email" placeholder="example.com" type="email" value="" name="user[email]" id="user_email">
			      </div>

			      <div class="field">
			        <p>パスワード<em>(6 文字以上)</em></p>
			        <input autocomplete="new-password" type="password" name="user[password]" id="user_password">
			      </div>

			      <div class="field">
			        <p>パスワード確認</p>
			        <input autocomplete="new-password" type="password" name="user[password_confirmation]" id="user_password_confirmation">
			      </div>

			      <div class="actions">
			        <input type="submit" name="commit" value="登録する" class="btn btn-sign" data-disable-with="登録する">
			      </div>
			</form>
		</div>
	</div>
</div>