<footer class="clearfix">
	<span class="left footer-item"><%=link_to " Ergonについて","/about/ergon"%></span>
	<span class="left footer-item"><%=link_to " お問い合わせ","/contact"%></span>
	<span class="left"><%=link_to " 作成者情報","/about/auther"%></span>
	<span class="right">&copy;2019 Ergon All Rights Reserved.</span>
</footer>