<footer class="clearfix">
	<p class="left footer-item"><%=link_to " Ergonについて","/about/ergon"%></p>
	<p class="left footer-item"><%=link_to " お問い合わせ","/contact"%></p>
	<p class="left"><%=link_to " 作成者情報","/about/author"%></p>
	<p class="right">&copy;2019 Ergon All Rights Reserved.</p>
</footer>