<h2>作品一覧</h2>
<table class="table">
	<% @works.each do |work| %>
	  <tbody>
	    <tr>
	      <th scope="row">
	      	<%= link_to(work_path(work)) do %>
	      	<%= attachment_image_tag work, :image, :fill, 200, 200,fallback: "no_image.jpg", size:'200x200', format: 'jpeg' %><br>
	      	<%= work.title %>
	      	<% end %>
	      </th>
	    </tr>
	  </tbody>
  	<% end %>
</table>