/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @charset 'UTF-8';

*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

body{
  background-color:#f9f6f7;
}

#wrapper {
  position: relative;
}

.clearfix::after{
  display:block;
  content:"";
  clear: both;
}


p{
  margin-bottom:0;
}

a:hover{
  text-decoration:none;
}

.clearfix{
  display:block;
  content:"";
  clear:both;
}

.left{
  float:left;
}

.right{
  float:right;
}

h1 a{
  text-decoration:none;
  color:#000;
}
h1 a:hover{
  color: #000;
  text-decoration: none;
}

.mv{
  background-image:image-url("/assets/mv.png");
  height:600px;
  background-size:cover;
  position:relative;
}
.top_btn{
  position:absolute;
  bottom:130px;
  right:120px;
  width:450px;
  height:51px;
  border-radius:30px;
  font-size:20px;
  font-weight:700;
  text-align:center;
  text-decoration:none;
  cursor:pointer;
  background-color:#ff971d;
  border: 1px solid #ff971d;
  color:white;
  line-height:50px;
}
.top_btn:hover {
  background-color: white;
  border-color: #ff971d;
  color: #ff971d;
}


/* header */
header a{
  color: #f5f5f7;
}
header a:hover{
  opacity: .8;
  color: #f5f5f7;
  text-decoration: none;
}

.header-center{
  width:1024px;
  margin:0 auto;
}

#headerTopicContainer{
  position:relative;
  height:50px;
  display:block;
  margin:10px auto;
  width:1024px;
}


/* #headerContainerはjQueryの使用上,application.html.erbの<head>内に記述 */

ul {
　　overflow:hidden;
　　list-style:none;
　　margin: 0 auto;
　　z-index: 20;
}

ul li {
  display: inline-block;
  padding: 10px 10px 10px 10px;
}


.btn4{
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;
  display:inline-block;
}

.btn4::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: #ff971d;
  display: block;
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
}
.btn4:hover::before {
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1)
}

.btn2{
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;
  display:inline-block;
  border-bottom: 2px solid #ff971d;
  padding-top: 5px;
}


.content-center{
  margin:0 auto;
  width:1024px;
  padding-bottom: 100px;
}


/* 登録、ログインページ */
.signPage{
  margin: 0 auto;
  width: 400px;
  background-color: #ffe8d6;
  border-radius:5px;
}
.text-align{
  text-align:center;
  padding:40px;
}
.action{
  margin:0 10%;
  position:relative;
}
.btn-sign{
  background-color:#ff971d;
  color:white;
  width:100%;
}


/* 投稿フォーム */
.field{
  position: relative;
  margin: 30px 7%;
}
.field input {
  box-sizing: border-box;
  width: 100%;
  margin: 2px 0;
  padding: 0.3em;
  transition: 0.3s;
  border: 1px solid #1b2538;
  border-radius: 4px;
  outline: none;
}
.field input:focus {
  border-color: #da3c41;
}
.field input {
  padding-left: 40px;
}

.field textarea {
  box-sizing: border-box;
  width: 100%;
  margin: 2px 0;
  padding: 0.3em;
  transition: 0.3s;
  border: 1px solid #1b2538;
  border-radius: 4px;
  outline: none;
}
.field textarea:focus {
  border-color: #da3c41;
}
.field textarea {
  padding-left: 40px;
}

.required{
  background-color:#ff971d;
  color:white;
}
.optional{
  background-color:#b3b3b1;
  color:white;
}

/* deviseメッセージ */
.flash{
  color:white;
  text-align:center;
  width: 100%;
}
.flash_alert{
  background-color:#ff9d76;
}
.flash_notice{
  background-color:#ff971d;
}


/* いいねボタン */
.today{
  display: inline;
  text-decoration: none;
  text-align: center;
  border-radius: 50%;
  margin-top: 30px;
  color:red;
  padding: 10px 10px;
}
.today:hover{
  opacity: .5;
}

.description{
  width:620px;
  display:block;
}


/* User Show */
.user_show{
  max-width: 940px;
  padding: 32px 0;
  margin: 0 auto;
}

.user_profile{
  position:relative;
}

.user_name{
  font-size:22px;
  font-weight: 700;
  padding-left:40px;
  position:absolute;
  top:10px;
  left:100px;
}

.user_introduction{
  padding-left:40px;
  position:absolute;
  top:60px;
  left:100px;
}

.user_edit{
  position:absolute;
  top:10px;
  right:10px;
}

.user_posted{
  margin-top:30px;
}

.show_work_box{
  border-radius:5px;
  background-color:white;
  color:black;
  text-decoration:none;
  width:260px;
  height:270px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  position:relative;
  margin:10px 0;
}


/* 画像投稿ボタン */
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}


/* 確認ページボタン */
.btn-left{
  color:white;
  background-color:#5f6769;
}
.btn-right{
  color:white;
  background-color:#ff971d;
}


/* 確認ページfield */
.confirm-field{
  background-color:white;
  border-radius:2px;
  padding:5px 10px;
  width:100%;
}


/* タブ機能 */
.tab li {
  color: #333;
  float: left;
  margin: 0 10px -1px 0;
  padding: 10px 20px;
  cursor: pointer;
  list-style: none;
  transition: .3s;
}
.tab li.active {
  border-bottom: 2px solid #ff971d;
  cursor: auto;
}
.area ul {
  display: none;
}
.area ul.show {
  display: block;
}


/*--- comments ---*/
.comments_area{
  padding:10px 0;
}

.comment_field{
  width: 75%;
  height: 40px;
  margin: 2px 0;
  padding: 0.3em;
  transition: 0.3s;
  border: 1px solid #1b2538;
  border-radius: 4px;
  outline: none;
}
.comment_field:focus {
  border-color: #da3c41;
}

.comment-image{
  width: 30px;
  margin-right:20px;
}

.comment-frame{
  position: relative;
  display: inline-block;
  margin: .5em 0 .5em 15px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
  border-radius: 10px;
}
.comment-frame:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #e0edff;
}

.commentDelete,commentTime{
  font-size:10px;
  text-decoration:none;
  padding-left:0 5px;
}


/* Work Show */
.workShowH3{
  padding-top:25px;
  font-size:22px;
  font-weight:bold;
}

.workShowYoutube{
  margin-bottom:50px;
}

.raised{
  display: inline-block;
  background-color: #26a69b;/*背景色*/
  color: #FFF;/*文字色*/
  font-size: 1em;/*文字サイズ*/
  line-height: 1;
  text-decoration: none;
  letter-spacing: 0.05em;/*字間*/
  padding: 0.2em 1em;/*ボタン内の余白*/
  margin-bottom: 10px;
  border-radius: 3px;/*角の丸み*/
    cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);/*影*/
  -webkit-tap-highlight-color: transparent;
  transition: .3s ease-out;/*変化を緩やかに*/
}
.raised:hover{
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);/*浮き上がるように*/
}

.raised a {
  color: white;
  text-decoration:none;
}
.raised a:hover{
  text-decoration:none;
  color: white;
  opacity: .5;
}


/* work index */
.work_box{
  border-radius:5px;
  background-color:white;
  color:black;
  width:230px;
  height:230px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  position:relative;
  display:inline-block;
  margin-right: 10px;
  margin-bottom: 40px;
}
.work_box img{
  border-top-left-radius:5px;
  border-top-right-radius: 5px;
}

.work_box_item{
  display:inline-block;
  padding-left: 10px;
}
.work_box_item p{
  font-size:14px;
  margin-top:20px;
}


.work_box1{
  border-radius:5px;
  background-color:white;
  color:black;
  width:260px;
  height:230px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  position:relative;
  display:inline-block;
  margin-right: 10px;
  margin-bottom: 40px;
}
.work_box1 img{
  border-top-left-radius:5px;
  border-top-right-radius: 5px;
}

.work_box_item{
  display:inline-block;
  padding-left: 10px;
  color:black;
}
.work_box_item p{
  font-size:14px;
  margin-top:20px;
}

.like{
  position:absolute;
  right: 10px;
  bottom: 50px;
  font-size: 16px;
}

/* バッジ */
.badge-background{
  background-color:#ff971d;
}

/* footer */
footer{
  width:100%;
  height:50px;
  text-align:center;
  background: rgba(0,0,0,0.8);
  color: #f5f5f7;
  padding:10px 200px;
}
footer a{
  color: #f5f5f7;
}
footer a:hover{
  opacity: .8;
  color: #f5f5f7;
  text-decoration: none;
}
.footer-item{
  margin-right:10px;
}