/* 登録、ログインページ */
.signPage{
  margin: 0 auto;
  width: 400px;
  background-color: #ffe8d6;
  border-radius:5px;
}
.text-align{
  text-align:center;
  padding:40px;
}
.action{
  margin:0 10%;
  position:relative;
}
.btn-sign{
  background-color:#ff971d;
  color:white;
  width:100%;
}
