// Place all the styles related to the likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* いいねボタン */
.fav{
  display: inline;
  text-decoration: none;
  text-align: center;
  border-radius: 50%;
  color:red;
  width: 50px;
  height: 50px;
  &:hover{
    opacity: .8;
  }
}

.fav-left{
  float:none;
  marign:30px 0;
  padding:11px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 5px;
}

.description{
  width:620px;
  display:block;
}
